/* Перекрашиваем под палитру fuzzel/btop */
@define-color background #1d1f21;        /* Базовый фон btop/fuzzel */
@define-color background-light #282a2e;  /* Цвет выделения строки из fuzzel */
@define-color foreground #e0e0e0;        /* Спокойный белый */
@define-color white #ffffff;             
@define-color muted #555555;             
@define-color alert #e67e80;             

@define-color workspaces-focused-fg @white;
@define-color workspaces-urgent-bg @alert;
@define-color workspaces-urgent-fg @background;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

/* Компактные отступы */
#workspaces,
#temperature,
#clock,
#network,
#wireplumber,
#battery,
#group-session {
    padding: 0 6px;
    margin: 0;
    background-color: transparent;
}

/* Воркспейсы */
#workspaces button {
    padding: 0 4px;
    background-color: transparent;
    color: @muted;
}

#workspaces button:hover {
    background: @background-light;
    color: @foreground;
}

#workspaces button.focused {
    box-shadow: inset 0 -2px @workspaces-focused-fg;
    color: @workspaces-focused-fg;
    font-weight: bold;
}

/* Элементы */
#clock {
    color: @white;
}

#temperature, #battery {
    color: @foreground;
}

#temperature.critical {
    color: @alert;
}

#battery.charging, #battery.plugged {
    color: @white;
}

#battery.critical:not(.charging) {
    color: @alert;
}

#network.disconnected, #wireplumber.muted {
    color: @muted;
}

/* Кнопки меню сессии */
#custom-power, #custom-reboot, #custom-logout {
    padding: 0 6px;
    color: @foreground;
}

#custom-power:hover, #custom-reboot:hover, #custom-logout:hover {
    background-color: @background-light;
}

#custom-power:hover {
    color: @alert;
}
